###################################
######### Terraform files #########
###################################
/infra/*/.terraform/
/infra/*/.terraform.*
/infra/*/terraform.tfvars
/infra/*/*.tfstate*
/infra/*/*.backup
/infra/*/Modules/*/*.pem
/infra/*/Modules/*/*/*.pem
#################################
######### Maven files ###########
#################################
/target/

######################################
######### Application config #########
######################################
/src/main/resources/application.properties

###########################
######### vs code #########
###########################
.vscode/
Taskfile.yml

/Deployment/*.yaml